# Mission to Mars - Step 1 (Scrapping)

In [26]:
# Dependencies
from bs4 import BeautifulSoup
import requests, time
from splinter import Browser
import pandas as pd

## A. NASA Mars News ( Featured latest news story)

In [44]:
# URL of page to be scraped
url1 = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module
response = requests.get(url1)

# Create BeautifulSoup object; parse with 'html.parser'
soup1 = BeautifulSoup(response.text, 'lxml')

# Examine the results, then determine element that contains sought info
# print(soup1.prettify())

In [4]:
# Identify and return title of listing
news_title = soup1.find('div', class_="content_title").text      
# Identify and return price of listing
news_p = soup1.find('div', class_="rollover_description_inner").text
print(news_title)
print(news_p)

NASA's Opportunity Rover Mission on Mars Comes to End



NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

## B. JPL Mars Space Images (Featured Image)

In [16]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [20]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(5)
browser.click_link_by_partial_text('more info')
html = browser.html
soup2 = BeautifulSoup(html, 'html.parser')
temp = soup.find('figure', class_='lede')
img_partial = temp.find('a')['href']
featured_image_url = 'https://www.jpl.nasa.gov' + img_partial
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19330_hires.jpg

## C. Mars Weather (Latest from Twitter)

In [22]:
# URL of page to be scraped
url3 = 'https://twitter.com/marswxreport?lang=en'

# Retrieve page with the requests module
response = requests.get(url3)

# Create BeautifulSoup object; parse with 'html.parser'
soup3 = BeautifulSoup(response.text, 'lxml')

# Examine the results, then determine element that contains sought info
# print(soup3.prettify())

In [23]:
temp=soup3.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[1].text
mars_weather=temp.split("pic")
print(mars_weather[0])

Sol 2319 (2019-02-13), high -17C/1F, low -72C/-97F, pressure at 8.12 hPa, daylight 06:46-18:52

## D: Mars Facts (Pandas approach)

In [27]:
url4= 'http://space-facts.com/mars/'
# Use read_html function in Pandas to automatically scrape any tabular data from a page
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [28]:
# List dataframes for any tabular data
type(tables)

list

In [31]:
df = tables[0]
df.columns = ['Labels','Values']
df.head()

                 Labels                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [32]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Labels</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [34]:
df.to_html('table.html')